@import "./fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-manrope;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

button {
  transition: all 250ms ease-in-out;
}

.btnCustom {
  @apply bg-[#3470FF] hover:bg-[#0B44CD] font-semibold text-[14px] text-white rounded-[14px];
}

.accent {
  color: #3470ff;
}

.list {
  @apply flex gap-3;
}

.item {
  position: relative;
}

.item:not(:last-child):after {
  content: "";
  position: absolute;
  display: block;
  width: 1px;
  height: 16px;
  background-color: rgba(18, 20, 23, 0.1);
  top: 50%;
  left: calc(100% + 6px);
  transform: translate(-50%, -50%);
}
